#content {
	width: 800px;
	margin: auto;
}
.page-header, .page-header small, .nav-tabs a {
	color: #2BCCD9;
}
.tab-content {
	background-color:#ffffff;
	padding: 3em;
	margin-bottom: 5em;
}
.tab-content img {
	margin: 3em auto;
}

.tab-content .thumbnail img {
	margin: 0em;
}
.tab-content .thumbnail {
	background-color: #ffffff;
}

.tab-content .included-content {
	width: 640px; 
    height: 390px;
    margin: 3em auto;
}
.tab-content p, blockquote {
	font-size: 15px;
}
blockquote {
	border-left: 0px solid;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover {
	background-color:#ffffff;
}

.nav-tabs>li.active> a {
	color: #333333;
}

.caption {
	text-align: center;
}